.categorizing-mobile-st0 {
  fill:#7AC442;
  stroke:#FFFFFF;
  stroke-width:0.5;
  stroke-miterlimit:10;
}

.categorizing-mobile-st1 {
  opacity:0.97;
}

.categorizing-mobile-st2 {
  fill:#F6F4F4;
}

.categorizing-mobile-st3 {
  fill:#E8212D;
  stroke:#FFFFFF;
  stroke-width:0.5;
  stroke-miterlimit:10;
}

.categorizing-mobile-st4 {
  fill:#4F4C4F;
  stroke:#FFFFFF;
  stroke-width:0.5;
  stroke-miterlimit:10;
}

.categorizing-mobile-st5 {
  fill:none;
  stroke:#F2F0F0;
  stroke-width:0.5;
  stroke-miterlimit:10;
}

.categorizing-mobile-st6 {
  fill:#F2F0F0;
}

.categorizing-mobile-st7 {
  fill:none;
  stroke:#F2F0F0;
  stroke-width:0.5;
  stroke-linejoin:bevel;
  stroke-miterlimit:10;
}



.categorizing-st0 {
  fill:#7AC442;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}

.categorizing-st1 {
  opacity:0.97;
}

.categorizing-st2 {
  fill:rgba(0,0,0,0);
  stroke:#F6F4F4;
}

.categorizing-st3 {
  fill:#E8212D;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}

.categorizing-st4 {
  fill:#F9F7F7;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
  enable-background:new
}

.categorizing-st5 {
  fill:#F6F4F4;
}

.categorizing-st6 {
  fill:#4F4C4F;
  stroke:#FFFFFF;
  stroke-miterlimit:10;
}

.categorizing-st9 {
  fill:none;
  stroke:#F2F0F0;
  stroke-miterlimit:10;
}

.categorizing-st10 {
  fill:none;
  stroke:#FFFFFF;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
