<div class="line-dock">
  <ul>
    <li class="line-dock-app"><span class="line-dock-badge">12</span></li>
    <li class="line-dock-app"><span class="line-dock-badge">15</span></li>
    <li class="line-dock-app"><span class="line-dock-badge">20</span></li>
    <li class="line-dock-app"><span class="line-dock-badge">22</span></li>
    <li class="line-dock-app"><span class="line-dock-badge">11</span></li>
    <li class="line-dock-app"><span class="line-dock-badge">10</span></li>
    <li class="line-dock-app"><span class="line-dock-badge">15</span></li>
    <li class="line-dock-app"><span class="line-dock-badge">24</span></li>
    <li class="line-dock-app"><span class="line-dock-badge">10</span></li>
  </ul>
</div>
