<div class="ui" data-ui>
  <div class="ui-header">
    <div class="ui-conversation">
      <img src="img/logo.svg" alt="Saent" class="logo">
      <h2 class="ui-conversation-title" data-ui-title>Feeling distracted &amp; overwhelmed?</h2>
    </div>

    <div class="ui-options">
      <div class="ui-options-dropdown" data-ui-button="description">
        <span data-ui-button-text>Learn about distractions</span>
      </div>
      <div class="ui-options-cta" data-ui-button="download">Download</div>
      <a href="" class="ui-options-signup">Sign Up</a>
    </div>
  </div>

  <div class="ui-foldout" data-ui-foldout="description">
    <p data-ui-foldout-text></p>
  </div>

  <div class="ui-foldout" data-ui-foldout="download">
    <div class="ui-buttons">
      <a href="http://www.saent.com/downloads/Saent-Installer.pkg" class="btn--blue">Download for OSX</a>
      <a href="http://www.saent.com/downloads/Saent4WinSetup.msi" class="btn--blue">Download for Windows</a>
    </div>
  </div>
</div>
