<div class="ui" data-ui>
  <div class="ui-header">
    <div class="ui-conversation">
      <img src="img/logo.svg" alt="Saent" class="logo">
      <h2 class="ui-conversation-title" data-ui-title>Feeling distracted &amp; overwhelmed?</h2>
    </div>

    <div class="ui-options">
      <div class="ui-options-dropdown" data-ui-button>
        <span data-ui-button-text>Learn about distractions</span>
      </div>
      <div class="ui-options-cta">
        <span>Download</span>
      </div>
    </div>
  </div>

  <div class="ui-foldout" data-ui-foldout>
    <p data-ui-foldout-text></p>
  </div>
</div>
