<section class="breaks" data-section="breaks">
  <div class="breaks-illustration">
    <div class="alert--breaks">
      <div class="alert-bar-breaks--starting">
        {% include line/breaks-alert--starting.svg %}
      </div>
      <div class="alert-bar-breaks--3">
        {% include line/breaks-alert--3.svg %}
      </div>
      <div class="alert-bar-breaks--2">
        {% include line/breaks-alert--2.svg %}
      </div>
      <div class="alert-bar-breaks--1">
        {% include line/breaks-alert--1.svg %}
      </div>
    </div>

  </div>

</section>
