<section class="categorizing" data-section="categorizing">
  <div class="categorizing-illustration">
    <div class="alert--categorizing">

      <div class="alert-bar--categorizing--gmail active" data-category-alert="neutral" data-category-app="gmail">
        {% include line/categorizing-alert--gmail.svg %}
      </div>
      <div class="alert-bar--categorizing--writer active" data-category-alert="good" data-category-app="writer">
        {% include line/categorizing-alert--writer.svg %}
      </div>
      <div class="alert-bar--categorizing--sketch" data-category-alert="neutral" data-category-app="sketch">
        {% include line/categorizing-alert--sketch.svg %}
      </div>
      <div class="alert-bar--categorizing--steam active" data-category-alert="evil" data-category-app="steam">
        {% include line/categorizing-alert--steam.svg %}
      </div>

      <div class="alert-bar--categorizing-mobile--gmail active" data-category-alert="neutral" data-category-app="gmail">
        {% include line/categorizing-alert-mobile--gmail.svg %}
      </div>
      <div class="alert-bar--categorizing-mobile--writer active" data-category-alert="good" data-category-app="writer">
        {% include line/categorizing-alert-mobile--writer.svg %}
      </div>
      <div class="alert-bar--categorizing-mobile--sketch active" data-category-alert="neutral" data-category-app="sketch">
        {% include line/categorizing-alert-mobile--sketch.svg %}
      </div>
      <div class="alert-bar--categorizing-mobile--steam active" data-category-alert="evil" data-category-app="steam">
        {% include line/categorizing-alert-mobile--steam.svg %}
      </div>

    </div>
  </div>

</section>
