<section class="distractions" data-section="distractions">
  <div class="distractions-illustration">
    <div class="distractions-browsers">
      {% include line/distractions-browser--left.svg %}
      {% include line/distractions-browser--right.svg %}
      {% include line/distractions-browser--right-bottom.svg %}
      <div class="distractions-speech--hello">hello?! hello?!</div>
      <div class="distractions-speech--here">over here!!!</div>
      <div class="distractions-speech--do">do this!! do this!!</div>
    </div>
  </div>

  {% include _line-dock.html %}
</section>
