<section class="download" data-section="download">
  <div class="download-illustration">
    <div class="download-buttons">
      <a href="http://www.saent.com/downloads/Saent-Installer.pkg" class="btn">Download for OSX</a>
      <a href="http://www.saent.com/downloads/Saent4WinSetup.msi" class="btn">Download for Windows</a>

    </div>

    <div class="download-laptop">
      <img class="download-screenshot" src="/img/screenshot.png" alt="Download Saent">
      {% include line/download-laptop.svg %}
    </div>
  </div>
</section>
