@keyframes to-green-screen {
  from { background-color: $color-blue }
  to { background-color: $color-green }
}

.breaks-alert {
  transition: $baseTransition;
  opacity: 0;
  transition-delay: 0s;
}

.breaks-alert--3 {
  @extend .breaks-alert;
}

.breaks-alert--2 {
  @extend .breaks-alert;
}

.breaks-alert--1 {
  @extend .breaks-alert;
}

[data-animation="breaks"] {
  animation: to-green-screen 2s normal 4s forwards ease-out;


  .breaks-alert,
  .breaks-alert--3,
  .breaks-alert--2,
  .breaks-alert--1 {
    opacity: 1;
  }

  .breaks-alert--3 {
    transition-delay: 1s;
  }

  .breaks-alert--2 {
    transition-delay: 2s;
  }

  .breaks-alert--1 {
    transition-delay: 3s;
  }

}
