.breaks {
  @extend .section;
}

.breaks-illustration {
  @extend .illustration;
}

.breaks.active .breaks-illustration {
  @extend .illustration--active;
}

#breaks-alert {
  @extend .alert;
  display: none;

  @include media($medium-screen-up) {
    display: initial
  }
}

#breaks-alert--mobile {
  @extend .alert;
  display: block;

  @include media($medium-screen-up) {
    display: none;
  }
}
