.challenges {
  @extend .section;
}

.challenges-illustration {
  @extend .illustration;
}

.challenges.active .challenges-illustration {
  @extend .illustration--active;
}

#challenges-alert {
  @extend .alert;
  position: relative;
  z-index: 400;
  display: none;

  @include media($medium-screen-up) {
    display: initial
  }
}

#challenges-alert--mobile {
  @extend .alert;
  position: relative;
  z-index: 400;
  display: block;

  @include media($medium-screen-up) {
    display: none;
  }
}

#challenges-browser {
  @extend .browser;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.4s ease-out;
  opacity: 0;

  @include media($medium-screen-only) {
    padding: 0 50px;
  }
}
