.distractions {
  @extend .section;
}

.distractions-illustration {
  @extend .illustration;
}

.distractions.active .distractions-illustration {
  @extend .illustration--active;
}

.distractions.active .line-dock {
  position: fixed;
}

.distractions.active #distractions-browser {
  transition: $baseTransition;
  background-color: $color-orange;
}


.distractions-browsers {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

#distractions-browser {
  width: 500px;
  height: auto;
  border-radius: 8px;
  background-color: $color-blue;
}

#distractions-browser--left {
  @extend #distractions-browser;
  position: absolute;
  left: 0;
  transition-delay: 0.125s;
}

#distractions-browser--right {
  @extend #distractions-browser;
  position: absolute;
  right: 40px;
  top: 0;
  transition-delay: 0.125s;
}

#distractions-browser--right-bottom {
  @extend #distractions-browser;
  position: absolute;
  right: 0;
  top: 20px;
  transition-delay: 0.125s;
}

.distractions-browser-st18 {
  opacity: 0;
}
