.distractions {
  @extend .section;
}

.distractions-illustration {
  @extend .illustration;
}

.distractions.active .distractions-illustration {
  @extend .illustration--active;
}

.distractions.active .line-dock {
  position: fixed;
}




#distractions-browser {
  width: 500px;
  height: auto;
}

#distractions-browser--left {
  @extend #distractions-browser;
}

#distractions-browser--right {
  @extend #distractions-browser;
}
