.download {
  @extend .section;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-illustration {
  text-align: center;
  position: relative;
  z-index: 500;
}

.download-buttons {
  margin-bottom: 60px;

  .btn {
    @include media($mobile-screens) {
      display: block;
    }
  }
}

.download-st2 {
  fill: #FFF;
  transition: $colorTransition;

}

.download-laptop {
  position: relative;
  width: 200px;

  @include media($small-screen-up) {
    width: 300px;
  }
  @include media($medium-screen-up) {
    width: auto;
  }
}

.download-screenshot {
  display: inline-block;
  position: absolute;
  width: 158px;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
  border-radius: 4px;

  @include media($small-screen-up) {
    width: 238px;
    top: 10px;
  }

  @include media($medium-screen-up) {
    top: 20px;
    width: 360px;
  }
}

[data-animation="download"] {
  .ui-options {
    display: none;
  }
  .ui-conversation {
    width: 100%;
  }
}
