.download {
  @extend .section;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-illustration {
  text-align: center;
  position: relative;
  z-index: 600;
}

.download-buttons {
  margin-bottom: 60px;
}

.download-st2 {
  fill: #FFF;
  transition: $colorTransition;

}

.download-laptop {
  position: relative;
}

.download-screenshot {
  display: inline-block;
  position: absolute;
  width: 258px;
  left: 50%;
  transform: translateX(-50%);
  top: 12px;
  border-radius: 4px;

  @include media($medium-screen-up) {
    top: 15px;
    width: 360px;
  }
}

[data-animation="download"] {
  .ui-options {
    display: none;
  }
  .ui-conversation {
    width: 100%;
  }
}
