.section {
  height: calc(100vh - 120px);
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.illustration {
  text-align: center;
  transition: $baseTransition;
  max-width: 100%;
  text-align: center;
}

.illustration--active {
  position: fixed;
  top: 178px;
  width: 100%;
}

.alert {
  transition: $baseTransition;
  max-width: 1200px;
  opacity: 0;
}
