.life {
  @extend .section;
}

.life-illustrations {
  @extend .illustration;
}

.life.active .life-illustration {
  @extend .illustration--active;
}

#life-scene {
  position: fixed;
  bottom: 0;
  transition: $colorTransition;
  opacity: 0;
}
