.progress-area {
  background-color: $color-bg;
  border-bottom: 2px solid $color-gray;
  height: 8px;
  position: relative;
}

.progress-bar {
  background-color: $color-blue;
  height: 6px;
  position: relative;
  z-index: 20;
}

.progress-hint {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 6px;
  background-color: transparentize($color-blue, 0.75);
  z-index: 10;
}
