.sessions {
  @extend .section;
}

.sessions-illustration {
  @extend .illustration;
  opacity: 0;
}

#default-browser {
  width: 100%;
  @include media($medium-screen-up) {
    max-width: 1000px;
  }
}

.sessions.active .sessions-illustration {
  @extend .illustration--active;
}




.sessions-browser-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 15px;
}

#sessions-type {
  color: #FFF;
  font-family: "Courier";
  font-size: 12px;
  padding: 80px 10px;
  text-align: left;

  @include media($medium-screen-up) {
    font-size: 18px;
  }
}
