<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="animation" data-animation="">

    <div class="fixed-header">
      {% include _progress-bar.html %}
      {% include _ui.html %}
    </div>


    <div class="page-content">
      {{ content }}
    </div>

  </body>

  {% include _analytics.html %}
  <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/scroll-snap-polyfill.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="/js/progress-bar.js"></script>
  <script type="text/javascript" src="/data/content.js"></script>
  <script type="text/javascript" src="/js/scroll-section.js"></script>
  <script type="text/javascript" src="/js/dropdown.js"></script>
  <script type="text/javascript" src="/js/categorizing.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</html>
